<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Project, <%= @user.username %></h1>
    <p>
      I am interested in your project.<br>
    </p>
    <p>
      Please contact.<br>
    </p>
    
    <p>Have a great day!</p>
    
  </body>
</html>