<h3>Back to: <%= link_to 'Properties', properties_path %></h3>
<div class="container formstyle" align="center">
	<h1>Property</h1><br/>
	<p>
  		<strong>Property Name:</strong>
  		<%= @property.name%>
	</p>
</div>
