<div class="center jumbotron bgcolur">
  <h1>Common Floor </h1>
  
</div>
  <div align="center">
  <%= button_to "Enter",projects_path, :id => "open-contacts-dialog-btn",:class => "inbox-sf-add-btn tip myButton", :method => :get %>
   </div>