table { 
    padding: 10px;
}
table { 
    border-spacing: 10px;
    border-collapse: separate;
}

.navb{
color:black;
font-size:50px;
background-color:pink;
text-align:left;
}

// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
