table { 
    padding: 10px;
}

table { 
    border-spacing: 10px;
    border-collapse: separate;
}
// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
